<?xml version="1.0"?>
<launch>
  <arg name="use_sim_time"  default="false"/>
  <include file="$(find costmap_merge)/launch/includes/agent.launch">
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  </include>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find costmap_merge)/rviz/sim_3_robots.rviz"/>
</launch>
