<?xml version="1.0"?>
<launch>

  <arg name="num_detectors"/>
  <arg name="num_robots"/>

  <!-- Include Detector detector[#] -->
  <node name="detector_launcher$(arg num_detectors)" pkg="costmap_merge" type="robot_launcher.py" output="screen">
    <param name="robot_ns" value="detector$(arg num_detectors)"/>
  </node>

  <!-- Include Robot robot[#] -->
  <node name="robot_launcher$(arg num_robots)" pkg="costmap_merge" type="robot_launcher.py" output="screen">
    <param name="robot_ns" value="robot$(arg num_robots)"/>
  </node>

  <!-- recursively start the rest of the robot fleet[#-1] -->
  <arg name="next_detectors" value="$(eval arg('num_detectors') - 1)" />
  <arg name="next_robots" value="$(eval arg('num_robots') - 1)" />
  <include file="$(find costmap_merge)/launch/includes/robot_fleet.launch" if="$(eval arg('next_detectors') > 0 or arg('next_robots') > 0)">
    <arg name="num_detectors" value="$(arg next_detectors)" />
    <arg name="num_robots" value="$(arg next_robots)" />
  </include>

</launch>
